<!DOCTYPE html>
<html lang="en">
{% extends 'dashboard.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container mt-5">

    <h2 class="text-center mb-4">Table Reservations</h2>

    <table class="table table-bordered table-hover table-striped">

        <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Date</th>
            <th>Time</th>
            <th>Guests</th>
            <th>Table No</th>
            <th>Status</th>
            <th>Option</th>

        </tr>
        </thead>

        <tbody>

        {% for booking in bookings %}

        <tr>

            <td>{{ forloop.counter }}</td>

            <td>{{ booking.customer_name }}</td>

            <td>{{ booking.phone }}</td>
            <td>{{ booking.email }}</td>


            <td>{{ booking.booking_date }}</td>

            <td>{{ booking.booking_time }}</td>

            <td>{{ booking.guests }}</td>

            <td>{{ booking.table.Table_no }}</td>
            <td>
                {% if booking.status == "Booked" %}
                <span class="badge bg-primary">{{ booking.status }}</span>

                {% elif booking.status == "Confirmed" %}
                <span class="badge bg-success">{{ booking.status }}</span>

                {% elif booking.status == "Completed" %}
                <span class="badge bg-info">{{ booking.status }}</span>

                {% elif booking.status == "Cancelled" %}
                <span class="badge bg-danger">{{ booking.status }}</span>

                {% else %}
                <span class="badge bg-secondary">{{ booking.status }}</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning btn-sm">Edit</a>

                <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this reservation?')">Delete</a>
            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="8" class="text-center">
                No Reservations Found
            </td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<script>
    swal('{{ i }}', '', 'success');
</script>
{% elif i.tags == 'error' %}
<script>
    swal('{{ i }}', '', 'error');
</script>
{% elif i.tags == 'warning' %}
<script>
    swal('{{ i }}', '', 'warning');
</script>
{% else %}
<script>
    swal('{{ i }}', '', 'info');
</script>
{% endif %}
{% endfor %}
{% endif %}


</body>
</html>
{% endblock %}