<!DOCTYPE html>
<html lang="en">
{% extends 'dashboard.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add categories Here </h4>
            <form class="forms-sample" method="post" action="{% url 'table_save' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="exampleInputUsername1">Table  Number</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="tnum"
                           placeholder="Table Number">
                </div>
              <div class="form-group">
                    <label for="exampleInputUsername1">Table  Capacity</label>
                    <input type="text" class="form-control" id="exampleInputUsername2" name="capacity"
                           placeholder="Table Capacity ">
                </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Table  Active</label>
                       <select class="form-control" id="status" name="active" required>
                        <option value="" selected disabled>Select Availability</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                       </select>

                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light" type="submit">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<script>
    swal('{{ i }}', '', 'success');
</script>
{% elif i.tags == 'error' %}
<script>
    swal('{{ i }}', '', 'error');
</script>
{% elif i.tags == 'warning' %}
<script>
    swal('{{ i }}', '', 'warning');
</script>
{% else %}
<script>
    swal('{{ i }}', '', 'info');
</script>
{% endif %}
{% endfor %}
{% endif %}


</body>
</html>
{% endblock %}