<!DOCTYPE html>
<html lang="en">
{% extends 'dashboard.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Table Details</h4>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>

            <th scope="col">Table Number</th>
            <th scope="col">Capacity</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.Table_no}}</td>
            <td>{{d.Capacity}}</td>
            <td>{{d.active}}</td>

             <td>
                <a href="{% url 'table_Edit' t_id=d.id %}" class="btn btn-outline-success"> Edit</a>
                <a href="{% url 'Table_Delete' t_id=d.id %}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{ i }}', '', 'success');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{ i }}', '', 'error');
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{ i }}', '', 'warning');
            </script>
        {% else %}
            <script>
                swal('{{ i }}', '', 'info');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


</body>
</html>
{% endblock %}